	<div class="row">
  		<div class="col-md-2"></div>
  		<div class="col-md-8">
  			<div class="jumbotron">
			  	<h1>ThinkPHP5从入门到努力</h1>
			  	<p>每天晚上10点左右更新，节假日除外。</p>
			  	<p>
			  		<a class="btn btn-primary btn-lg" href="http://www.kancloud.cn/liuzhen153/tp5-demo" role="button">去看看</a>
			  	</p>
			</div>
  		</div>
  		<div class="col-md-2"></div>
  	</div>
  </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>