<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fetch方法传三个参数</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
  	<div class="row">
  		<div class="col-md-2"></div>
	  	<div class="col-md-8">
	  		<h1>fetch传三个参数</h1>
	    	<code>return $this->fetch([模块@][控制器/][操作]);
	    	<br>/*带参数，系统会按照规则来定位模板文件，其规则是：
			模块/默认视图目录/控制器（小写）/操作（小写）.html*/</code>
      <div class="alert alert-success" role="alert">我是由index模块下index控制器下fetchMore方法访问来的。</div>
	  	</div>
	  	<div class="col-md-2"></div>
  	</div>
  	<div class="row">
  		<div class="col-md-2"></div>
  		<div class="col-md-8">
  			<div class="jumbotron">
			  	<h1>ThinkPHP5从入门到努力</h1>
			  	<p>每天晚上10点左右更新，节假日除外。</p>
			  	<p>
			  		<a class="btn btn-primary btn-lg" href="http://www.kancloud.cn/liuzhen153/tp5-demo" role="button">去看看</a>
			  	</p>
			</div>
  		</div>
  		<div class="col-md-2"></div>
  	</div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>