body{
  background: #f8f8f8;
}
.header{
  background: #fff;
  padding:15px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 50px;
}
footer{
   background: #fff;
   padding:30px 0;
   text-align: center;
   position: fixed;
}
