{include file="commen/header_title" title="是我设置的title" test="hi.tommy"/}
  	<div class="row">
  		<div class="col-md-2"></div>
	  	<div class="col-md-8">
	  		<h1>公共模板</h1>
	    	<code>可以把模板的公共头部和尾部分离出来，便于维护。我们把模板文件拆分为三部分：<br>
          application/index/view/index/header.html<br>
          application/index/view/index/one.html<br>
          application/index/view/index/footer.html
        </code>
        <div class="alert alert-success" role="alert">  
            one.html页面代码十分简洁，头部和尾部这类公共部分可以复用，也易于维护
        </div>
	  	</div>
	  	<div class="col-md-2"></div>
  	</div>   
{include file="commen/footer" /}
