{include file="common/header" title="$title" /}
<table class="table table-bordered">
    <tr class="info">
      <td>住院号</td>
      <td>姓名</td>
      <td>性别</td>
      <td>出生年月</td>
      <td>家庭住址</td>
      <td>联系电话</td>
      <td>床位号</td>
      <td>主治医生</td>
      <td>所属科室</td>
      <td>住院日期</td>
      <td>治疗备注</td>
      <td>出院日期</td>
    </tr>
    {volist name="patient" id="vo"}
    <tr>
      <td>{$vo.Pno}</td>
      <td>{$vo.Pname}</td>
      <td>{$vo.Psex}</td>
      <td>{$vo.Pbirth}</td>
      <td>{$vo.Padd}</td>
      <td>{$vo.Ptele}</td>
      <td>{$vo.Cno}</td>
      <td>{$vo.Dno}</td>
      <td>{$vo.lz_Aname}</td>
      <td>{$vo.Idate}</td>
      <td>{$vo.Pmark}</td>
      <td>{$vo.Odate}</td>
    </tr>
    {/volist}
  </table>
{include file="common/footer" /}
