{include file="common/header" title="$title" /}

          <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_keshi')}'">科室信息查询</button>

          <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_doctor')}'">医护信息查询</button>

          <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_bed')}'">床位信息查询</button>

          <button class='btn btn-block btn-success' onclick="javascript:window.location.href='{:url('search_patient')}'">病历信息查询</button>

  {include file="common/footer" /}
