{include file="common/header" title="$title" /}
      <form role="form" action="{:url('search_patient_view')}" method="post">
          <div class="form-group">
            <label for="mm">住院号：</label>
            <select class="form-control" name="pno">
              {volist name="patient" id="vo"}
                <option value='{$vo.Pno}'>{$vo.Pno}.{$vo.Pname}</option>
              {/volist}>
              </select>
          </div>

          <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
  {include file="common/footer" /}
